* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

section:nth-child(2n) {
    background: #fff;
}

section:nth-child(2n+1) {
    background: #f0f0f0dc;
}

body {
    overflow-x: hidden;
}

.btn {
    padding: 0.8rem;
    font-size: 1.1rem;
    border-radius: 0.8rem;
    border: none;
}

.mybutton {
    outline: 2px solid #49A74C;
    padding: 0.75rem 1.3rem;

    position: relative;
    transition: all 0.2s ease;
}

.mybutton:hover {
    background: #fff;
    color: #49A74C;
    transition: 0.23s ease-in-out;
}

.mybutton:action {
    transform: scale(0.96);
}

.mybutton:before,
.mybutton:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -999;
    background-repeat: no-repeat;
}

.mybutton.animate::before {
    top: -70%;
    background-image: radial-gradient(circle, #49A74C 20%, transparent 20%),
        radial-gradient(circle, transparent 20%, #49A74C 20%, transparent 30%),
        radial-gradient(circle, #49A74C 20%, transparent 20%),
        radial-gradient(circle, #49A74C 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #49A74C 15%, transparent 20%),
        radial-gradient(circle, #49A74C 20%, transparent 20%),
        radial-gradient(circle, #49A74C 20%, transparent 20%),
        radial-gradient(circle, #49A74C 20%, transparent 20%),
        radial-gradient(circle, #49A74C 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
        10% 10%, 18% 18%;
    animation: greentopBubbles ease-in-out 1.3s forwards infinite;
}

@keyframes greentopBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
            40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
            50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
            50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.mybutton.animate::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #65dd69 20%, transparent 20%),
        radial-gradient(circle, #65dd69 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #65dd69 15%, transparent 20%),
        radial-gradient(circle, #65dd69 20%, transparent 20%),
        radial-gradient(circle, #65dd69 20%, transparent 20%),
        radial-gradient(circle, #65dd69 20%, transparent 20%),
        radial-gradient(circle, #65dd69 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    animation: greenbottomBubbles ease-in-out 1.3s forwards infinite;
}

@keyframes greenbottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
            70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
            105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
            110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}


/* NAVBAR SECTION CSS */

.navbar {
    padding: 2rem;
    background-color: #fff;
    font-size: 1.3rem;

    transition: 1.5s;
}

.navbar-brand {
    display: flex;
    gap: 0.5rem;
}

.navbar-brand .heading {
    font-size: 2rem;
    color: #49A74C;
    font-weight: 800;
}

.navbar-brand .logo_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand .logo_image img {
    height: 2.5rem;
    width: 2.5rem;
}

.navbar-nav {
    gap: 1.3rem;
}

.navbar-expand-lg .navbar-nav i {
    font-size: 2rem;
    cursor: pointer;
    margin: auto;

    color: #49A74C;
}

/* Hero section CSS */
.hero_section {
    display: flex;
    padding: 2rem 2rem 2rem 6rem;
}
.hero_section .hero_content {
    width: 60%;
    margin: auto;
}

.hero_section .hero_content .wrapper {
    display: flex;
    flex-direction: column;
}

.hero_section .hero_content .wrapper .static-text {
    margin: -1rem 0;
}

.hero_section .hero_content .wrapper .dynamic-text {
    overflow: hidden;
    padding: 0;
    height: 90px;
    line-height: 90px;
}


.hero_section .hero_content .wrapper .dynamic-text li {
    top: 0;
    list-style: none;
    position: relative;
    animation: slide 9s steps(3) infinite;
}

@keyframes slide {
    100% {
        top: -270px;
    }
}

.hero_section .hero_content .wrapper .dynamic-text li span {
    position: relative;
    margin: 5px 0;
    list-style: 90px;
}

.hero_section .hero_content .wrapper .dynamic-text li span::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    border-left: 2px solid #49A74C;
    animation: typing 3s steps(10) infinite;
    transition: 1.5s;
}

.hero_section .hero_content .wrapper .dynamic-text li .modify::after {
    background: #180c40;
    transition: 1.5s;
}

@keyframes typing {

    40%,
    60% {
        left: calc(100% + 5px);
    }

    100% {
        left: 0;
    }
}

.btn {
    background-color: #49A74C;
}

.hero_section .hero_content h1 span {
    color: #49A74C;
}

.hero_section .hero_image {
    width: 40%;
}


/* service section css */
.service_section {
    padding: 4rem;
}

.service_section .service_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-bottom: 4rem;
}

.service_section .service_heading h1 {
    color: #49A74C;
}

.service_section .services {
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
}

.service_section .services .service_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 1.3rem;

    padding: 2rem;
    border-radius: 1.2rem;

    border: 5px solid #266b28;
    border-top: 1px solid #266b28;
    border-bottom: 1px solid #266b28;

    position: relative;
    cursor: pointer;
}

.service_section .services .service_box::before {
    background: #a4dfa6;
    border-radius: 0.8rem;
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
    z-index: -1;
}
a{
text-decoration: none !important;
color:  inherit;;
}

.service_section .services .service_box:hover::before {
    transform: scaleX(1);
    transform-origin: center;
}

.service_section .services .service_box .box_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.service_section .services .service_box .box_icon img {
    height: 4rem;
    width: 4rem;
}

.service_section .services .service_box .box_content h3 {
    color: #266b28;
}


.service_section .services .service_box .box_icon {
    font-size: 2rem;
    color: #49A74C;
}


/* About section CSS */
.about_section {
    padding: 4rem;
    display: flex;
    gap: 4rem;
}

.about_section .about_image {
    width: 40%;
    padding: 2rem;
}

.about_section .about_image img {
    height: 90%;
    width: 100%;
}

.about_section .about_content {
    width: 60%;
    padding: 4rem;
}

.about_section .about_content p {
    text-align: justify;
}


/* Footer section CSS */
.footer_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: #65dd69;
    background-image: url(./images/wave.svg);
    background-size: cover;
    color: #fff;
    text-decoration: none;

    padding: 4.5rem;
    gap: 3rem;
}

.footer_section .shortcut_links {
    display: flex;
    gap: 3rem;
}

.footer_section .shortcut_links a {
    color: #fff;
    font-size: 1.3rem;
}

.footer_section .social_icons {
    display: flex;
    gap: 2rem;
    font-size: 1.85rem;
    text-decoration: none;
    color: #fff;
}

.footer_section .social_icons i:hover {
    scale: 1.3;
    text-decoration: none;
    transition: 0.25s ease-in-out;
    cursor: pointer;

}


/* media query */
@media screen and (max-width: 1000px) {

    .hero_section {
        flex-direction: column;
        padding: 4rem;
    }

    .hero_section .hero_image {
        width: 100%;

        display: flex;
        justify-content: end;
    }

    .hero_section .hero_image img {
        height: 20rem;
        width: 20rem;
    }

    .hero_section .hero_content {
        width: 100%;
    }

    .service_section .services {
        display: flex;
        flex-direction: column;
    }

    .service_section .services .service_box {
        margin: 2rem;
    }

    .about_section {
        flex-direction: column;
        gap: 0;
    }

    .about_section .about_image {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .about_section .about_image img {
        height: 25rem;
        width: 25rem;
    }

    .about_section .about_content {
        width: 100%;
    }

    .footer_section {
        padding: 3rem;
    }

    .footer_section .shortcut_links {
        gap: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .hero_section {
        padding: 1.5rem;
    }

    .service_section {
        padding: 1.5rem;
    }

    .about_section {
        padding: 1.5rem;
    }
}